/* Small devices (tablets, 768px and up) */

@media (max-width: 468px) {
    .display-4 {
        font-size: 2em !important;
    }
}

model-viewer {
    width: 800px;
    height: 600px;
}

body {
    font-family: 'Open Sans', sans-serif;
}